@font-face{
	font-family: "Sansation";
	src: url("Sansation.ttf");
}

@font-face {
	font-family: "Walkway";
	src: url("Walkway.ttf");
}

@keyframes cinzaFundo {
	0% {background-color: transparent;}
	100% {background-color: #232123; opacity: 0.9;}
}

@keyframes fadeIn {
	0% {opacity: 0.0;}
	100% {opacity: 0.8;}
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 110%;}
}

@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

body {
	margin: 0;
	width: 100%;
	background-image: url("FundoFinalEscuro.png");
	background-size: 850px;
	z-index: 0;
}

#pistas2{
	margin-top: 5px;
	animation: typewriter 2s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
    animation-delay: 4s;
    white-space: nowrap;
    overflow: hidden;
    font-size: 80px;
}

#pistas{
	margin-bottom: 5px;
  	animation-name: fadeIn;
  	animation-duration: 2s;
  	white-space: nowrap;
    overflow: hidden;
    font-size: 160px;
}

#botaoIniciar:hover {
	background-color: #232123;
	opacity: 0.9;
}

#botaoIniciar {
	text-align: center;
	position: absolute;
	left: 37%;
	padding: 45px 150px;
	font-family: Sansation;
	font-size: 35px;
	color: white;
	border-radius: 5px;
	border: 2px solid #c82424;
	background-color: transparent;
	transition: background-color 0.7s ease;
}

#logoImg {
	animation-name: fadeIn;
	animation-duration: 10s;
}

#header {
	position: fixed;
	width: 100%;
	display: block;
	background-color: black;
	opacity: 0.8;
	z-index: 17082002;
}

.headerDireita {
	float: right;
}

.headerDireita a:hover {
	background-color: #dd1c1c;
}

.headerDireita a {
	float: left;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-family: Sansation;
	padding: 12px;
	margin-top: 28px;
	margin-right: 10px;
	line-height: 25px;
	transition: background-color 0.8s ease;
}

.espacoPesquisa {
	margin: 250px;
	margin-top: 140px;
	margin-bottom: 100px;
	padding-bottom: 400px;
}

.espacoPesquisa p {
	font-family: Walkway;
	color: white;
}

.descricao {
	background-color: white;
	width: 40%;
	position: relative;
	z-index: 2;
	padding: 30%;
	padding-bottom: 38%;
	padding-top: 10%;
}

.descricao #tituloDescricao{
	font-family: Walkway;
	font-size: 100px;
	font-weight: normal;
	position: absolute;
	bottom: 62%;
	right: 50%;
}

.descricao #segundoDescricao{
	font-family: Walkway;
	font-size: 100px;
	font-weight: normal;
	position: absolute;
	bottom: 25%;
	right: 45%;
}

.descricao #p1 {
	font-family: Walkway;
	font-size: 25px;
	position: absolute;
	top: 30%;
	left: 5%;
}

.descricao #p2 {
	font-family: Walkway;
	font-size: 25px;
	position: absolute;
	top: 68%;
	left: 5%;
}