@font-face{
	font-family: "Sansation";
	src: url("Sansation.ttf");
}

@keyframes cinzaFundo {
	0% {background-color: transparent;}
	100% {background-color: #232123; opacity: 0.8;}
}

@keyframes fadeIn {
	0% {opacity: 0.0;}
	100% {opacity: 0.8;}
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 110%;}
}

@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

body {
	margin: 0;
	width: 100%;
	background-image: url("FundoFinalEscuro.png");
	background-size: 700px;
}

#pistas2{
	margin-top: 5px;
	animation: typewriter 2s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
    animation-delay: 2s;
    white-space: nowrap;
    overflow: hidden;
}

#pistas{
	margin-bottom: 5px;
  	animation: typewriter 2s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
  	white-space: nowrap;
    overflow: hidden;
}

#botaoIniciar:hover {
	animation-fill-mode: forwards;
	animation-name: cinzaFundo;
	animation-duration: 2s;
}

#botaoIniciar {
	text-align: center;
	position: absolute;
	left: 37%;
	padding: 45px 150px;
	font-family: Sansation;
	font-size: 35px;
	color: white;
	border-radius: 5px;
	border: 2px solid #c82424;
	background-color: transparent;
}

.headerDireita {
	float: right;
}

.headerDireita a:hover {
	background-color: #dd1c1c;
	animation-name: fadeIn;
	animation-duration: 2s;
}

.headerDireita a {
	float: left;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-family: Sansation;
	padding: 12px;
	margin-top: 28px;
	margin-right: 10px;
	line-height: 25px;
}

.espacoPesquisa {
	margin: 250px;
	margin-top: 140px;
	margin-bottom: 100px;
	padding-bottom: 200px;
}

.espacoPesquisa p {
	font-family: Sansation;
	font-size: 80px;
	color: white;
}

#logoImg {
	animation-name: fadeIn;
	animation-duration: 10s;
}

#header {
	position: fixed;
	width: 100%;
	display: block;
	background-color: black;
	opacity: 0.8;
}